@page "/family-tree-5"

@using MudBlazor

<h1>Family Tree</h1>

@if (rootNode != null)
{
    <MudTreeView T="NodeData">
        <Node5 Node="rootNode"></Node5>
    </MudTreeView>
}

@code {
    public class NodeData
    {
        public string Name { get; set; }
        public List<NodeData> Children { get; set; }
        public bool IsExpanded { get; set; }
    }

    private NodeData rootNode;

    protected override void OnInitialized()
    {
    // Sample data
        rootNode = new NodeData
        {
            Name = "Root",
            Children = new List<NodeData>
            {
                new NodeData
                {
                    Name = "Child 1",
                    Children = new List<NodeData>
                    {
                        new NodeData { Name = "Grandchild 1" },
                        new NodeData { Name = "Grandchild 2" }
                    }
                },
                new NodeData
                {
                    Name = "Child 2",
                    Children = new List<NodeData>
                    {
                        new NodeData { Name = "Grandchild 3" },
                        new NodeData { Name = "Grandchild 4" }
                    }
                },
                new NodeData
                {
                    Name = "Child 3",
                    Children = new List<NodeData>
                    {
                        new NodeData { Name = "Grandchild 5" },
                        new NodeData
                        {
                            Name = "Grandchild 6",
                            Children = new List<NodeData>
                            {
                                new NodeData { Name = "Great Grandchild 1" },
                                new NodeData { Name = "Great Grandchild 2" }
                            }
                        }
                    }
                }
            }
        };
    }
}