<h3>OrgChart</h3>

@inherits ComponentBase
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<div id="@ElementId" style="width: 100%; height: 100%;"></div>

@code {
    [Parameter]
    public string ElementId { get; set; } = $"chart-{Guid.NewGuid()}";

    [Parameter]
    public NodeData Data { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("drawChart", ElementId, Data);
        }
    }

    public class NodeData
    {
        public string Id { get; set; }
        public string ParentId { get; set; }
        public string Name { get; set; }
        public List<NodeData> Children { get; set; }
    }
}